@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url(../img/decoration/big-leaf.png) right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}
.hero:before {
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
  content: url(../img/decoration/left-leaf.png);
}
.hero:after {
  position: absolute;
  bottom: -2.2222222222rem;
  right: 0;
  content: url(../img/decoration/berries-and-leaves.png);
}

.hero__title-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url(../img/decoration/hero-bars.png) center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}

.hero__title-text {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}

.hero__title-description {
  font-size: 1.1666666667rem;
  margin-bottom: 1.5555555556rem;
  padding-right: 20%;
}
@media screen and (max-width: 768px) {
  .hero__title-description {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-description {
    padding: 0 16%;
  }
}

@media screen and (max-width: 768px) {
  .hero__img-content-section {
    display: none;
    flex: 1;
    max-width: 50%;
    flex-shrink: 0;
  }
}

.logo {
  max-width: 2.9444444444rem;
  height: 2.1111111111rem;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1.1111111111rem;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 0.8333333333rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
  flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}

.features {
  display: flex;
  margin-bottom: 1.6666666667rem;
}

.features__item {
  display: flex;
  align-items: center;
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-style: 0.8888888889rem;
  width: 30%;
}

.burger-span {
  position: absolute;
  display: none;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
@media screen and (max-width: 768px) {
  .burger-span {
    display: flex;
  }
}
.burger-span.burger-span--active {
  opacity: 0.7;
}
.burger-span.burger-span--active .burger-span_top {
  transform: translateY(11px) translateX(0) rotate(410deg);
  border-radius: 5px;
}
.burger-span.burger-span--active .burger-span_middle {
  opacity: 0;
}
.burger-span.burger-span--active .burger-span_bottom {
  transform: translateY(-11px) translateX(0) rotate(-410deg);
  border-radius: 5px;
}
.burger-span_item {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.65s ease;
  cursor: pointer;
}
.burger-span_item:nth-of-type(2) {
  top: 11px;
}
.burger-span_item:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #2e3133;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.overlay--open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
}
.overlay.overlay--open .overlay-menu__item {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay-menu {
  position: absolute;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  text-align: center;
}

.overlay-menu__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
}

.overlay-menu__item {
  display: block;
  position: relative;
  line-height: 1;
  opacity: 0;
}
.overlay-menu__item:after {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.overlay-menu__item:last-child:after {
  display: none;
}

.overlay-menu__link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.body-active-menu {
  overflow: hidden;
}

.btn-close {
  color: #fff;
  font-size: 24px;
  font-family: Helvetica;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--white {
  background: #fff;
  color: #0b4d3c;
}
.btn--theme--white:hover {
  color: #fff;
  background: #0b4d3c;
  transition: 0.3s;
}
.btn--theme--green {
  background: #0b4d3c;
  color: #fff;
}
.btn--theme--green:hover {
  color: #0b4d3c;
  background: #fff;
  transition: 0.3s;
}
.btn--theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #0b4d3c;
  transition: 0.3s;
}
.btn-close_app {
  background: #0b4d3c;
  border: 1px solid #0b4d3c;
  color: #fff;
}
.btn-close_app:hover {
  background: #fff;
  color: #0b4d3c;
  transition: 0.3s;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #0b4d3c;
}
.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.headline {
  text-align: center;
  margin-bottom: 2.7777777778rem;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}

.headline__subtitle {
  padding: 0 26%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-right: 4%;
}
@media screen and (max-width: 480px) {
  .benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.0555555556rem;
  }
}
.benefits__item:before {
  content: url(../img/decoration/separator.png);
  position: absolute;
  top: 2.7777777778rem;
  right: 0;
  transform: translate(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    text-align: start;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit-desc {
  color: #666666;
}
@media screen and (max-width: 480px) {
  .benefit-desc {
    padding: 0 1.3888888889rem 0 1rem;
  }
}

.benefit__title {
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefits-section {
  position: relative;
  background: url(../img/decoration/side-leaf.png) left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 17%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section:before {
  content: url(../img/decoration/bars-and-berries.png);
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.slider-section {
  background-color: #F8FAF9;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  width: 27px;
  z-index: 20;
}
.slider-btn_next {
  left: -20px;
}
.slider-btn_prev {
  right: -20px;
}
@media screen and (max-width: 768px) {
  .slider-btn {
    top: 25%;
  }
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider-list {
  width: 100%;
  display: flex;
  right: 0;
  position: relative;
}

.slider-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .slider-item {
    width: 100%;
    flex-direction: column;
  }
}

.slider-left {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .slider-left {
    width: 50%;
  }
}

.slider-img {
  display: flex;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .slider-img {
    align-items: center;
  }
}

.slider-pic {
  display: flex;
  max-width: 100%;
}

.slider-ingredients {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-left: 38px;
}
@media screen and (max-width: 768px) {
  .slider-ingredients {
    display: none;
  }
}

.slider-title {
  font-size: 36px;
  font-weight: bold;
  color: #292929;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .slider-title {
    font-size: 30px;
    text-align: center;
  }
}

.slider_title {
  padding: 0;
  line-height: 42px;
  margin: 26px 40px 34px 36px;
}
@media screen and (max-width: 768px) {
  .slider_title {
    margin: 0;
  }
}

.slider-desc {
  font-size: 18px;
  color: #666666;
  margin: 0 40px 34px 36px;
}
@media screen and (max-width: 768px) {
  .slider-desc {
    text-align: center;
    margin: 0 90px 34px;
  }
}

.slider-tag {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 33px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .slider-tag {
    width: initial;
    justify-content: space-evenly;
  }
}

.tag-text {
  color: #666666;
}

.tag-value {
  color: #000000;
}

.slider-row {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .slider-row {
    justify-content: space-evenly;
  }
}

.slider-price {
  margin-left: 44px;
  margin-right: 30px;
}

.composition {
  width: 270px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  color: #000000;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: -2100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.slider-ingredients:hover .composition {
  opacity: 1;
  left: 100%;
}

.composition-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin: 16px 10px 16px 10px;
}

.composition-icon {
  width: 50px;
  height: 50px;
}

.composition-name {
  width: 50%;
}

.composition-amount {
  padding-right: 20px;
}

@media screen and (max-width: 480px) {
  .reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }
}

.reviews-section {
  position: relative;
  background: url("../img/CHOCCO/reviews/berry_3.png") right 5% top 1% no-repeat;
}
@media screen and (max-width: 480px) {
  .reviews-section {
    background-position: right 1% top 1%;
  }
}
.reviews-section::before {
  content: url("../img/CHOCCO/reviews/pattern_1.png");
  position: absolute;
  bottom: -8.5555555556rem;
  left: 0;
}
.reviews-section::after {
  content: url("../img/CHOCCO/reviews/berry_2.png");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}

.reviews-display {
  background: #F8FAF9 url("../img/CHOCCO/reviews/layer_1.png") right top no-repeat;
  margin-left: 4.6666666667rem;
  margin-right: 4.3333333333rem;
  padding: 2.8333333333rem 4.3333333333rem 1.8888888889rem 2.4444444444rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews-display {
    display: flex;
    margin: 0 0 2.2222222222rem;
    padding: 2.8333333333rem 1.2222222222rem 1.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews-display {
    justify-content: flex-end;
    margin: 0;
    padding: 2.6666666667rem 1.2222222222rem 1.8888888889rem;
  }
}
.reviews-display::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: #ffff;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -3.6111111111rem;
}
@media screen and (max-width: 480px) {
  .reviews-display::before {
    display: none;
  }
}

.reviews-display_list {
  position: relative;
  min-height: 280px;
}

.reviews-display_item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}
.reviews-display_item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews-display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews-display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews-avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews-avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews-avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews-content {
  flex: 1;
  margin-left: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews-content_block1 {
    display: none;
  }
}

.reviews-title {
  color: #292929;
  margin-top: 0.5rem;
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.reviews-text {
  color: #666666;
  line-height: 1.2;
  margin-bottom: 1.4444444444rem;
  padding-right: 20%;
}
@media screen and (max-width: 768px) {
  .reviews-text {
    padding: 0;
  }
}

.reviews-author {
  color: #292929;
  font-size: 1rem;
  font-weight: bold;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviews-switcher_item {
  position: relative;
  width: 4.5555555556rem;
  height: 4.5555555556rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.reviews-switcher_item.active {
  border-color: #365A49;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team-list {
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
  }
}

.team-item {
  flex: 1;
  text-align: center;
  margin-right: 20px;
  max-width: 231px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .team-item {
    flex: initial;
    margin-bottom: 35px;
    margin-right: 0;
  }
}

.team-member {
  height: 288px;
  margin-bottom: 20px;
}

.team-desktop .team-content {
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .team-desktop {
    display: none;
  }
}

.team-phone {
  display: none;
}
.team-phone .team-item {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .team-phone {
    display: flex;
  }
}

.team-title {
  color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}

.team-content {
  overflow: hidden;
  transition: height 0.3s;
  height: 0;
}
.team-content_block.team-content_bottom {
  margin-bottom: 20px;
}
.team-content_block .team-content_job {
  color: #000000;
}
.team-content_block .team-content_text {
  color: #666666;
  font-weight: 300;
}

.products-section {
  background: url("../img/CHOCCO/products/background.png") center center/cover no-repeat;
  position: relative;
}

.products-menu {
  color: #FFFFFF;
  font-size: 48px;
  font-style: bold;
}

.products-link {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.products-item {
  display: flex;
}

.menu-title {
  position: relative;
  width: 100px;
}

.products-content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width 0.7s;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.order-section {
  position: relative;
  background: url("../img/decoration/form-pattern.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.order-section::before {
  position: absolute;
  content: url("../img/decoration/blueberry.png");
  left: 3%;
  bottom: 5%;
}
.order-section::after {
  content: url("../img/decoration/right-leaf.png");
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.form {
  display: flex;
  color: #497870;
  margin: 5% 7% 0 7%;
  -webkit-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 13%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border-radius: 0.2222222222rem;
  border: solid 0.1666666667rem transparent;
}
@media screen and (max-width: 480px) {
  .form__input {
    padding: 0;
  }
}
.form__input--textarea {
  height: 9.8333333333rem;
  resize: none;
}
@media screen and (max-width: 480px) {
  .form__input--textarea {
    height: 4.1666666667rem;
  }
}
.form__input:focus {
  border-color: #DEE2BD;
  border-radius: 0.2222222222rem;
  outline: none;
}

.input-error {
  border-color: red;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.2222222222rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    padding-bottom: 0.8333333333rem;
  }
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/decoration/checkmark.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  padding-left: 0.5555555556rem;
  padding-right: 1.2777777778rem;
}

.modal {
  display: none;
}
.modal.error-modal .modal-content {
  color: red;
}
.modal.fancybox-content {
  color: #000000;
  font-weight: 500;
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.error-modal {
  color: red;
}

.modal-container {
  background: #fff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-container {
  margin-top: auto;
  height: 152px;
  margin-top: 20px;
}

.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container__section {
  height: 152px;
  display: flex;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__col--align--right {
  display: flex;
  align-items: center;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
  flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
  color: #497870;
}

.adress {
  font-family: Alegreya Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.socials {
  margin-right: 74px;
  display: flex;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.socials__item--icon--vk .socials__link {
  background-image: url("../img/icons/vk.svg");
}

.socials__item--icon--fb .socials__link {
  background-image: url("../img/icons/f.svg");
}

.socials__item--icon--insta .socials__link {
  background-image: url("../img/icons/in.svg");
}

.socials__item--icon--tw .socials__link {
  background-image: url("../img/icons/tv.svg");
}