@import url("normalize/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Alegreya Sans", sans-serif;
  color: #fff;
  line-height: 1.42;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

body, html {
  height: 100%;
}

.big-block {
  height: 100vh;
  width: 100vw;
  background: #497870;
}

a {
  color: inherit;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

footer {
  position: relative;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

.hero {
  background: url("../img/CHOCCO/hero/pattern.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100%;
  min-width: 36.1111111111rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 67%;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-position: right bottom 67%;
    min-width: 0;
  }
}
@media screen and (max-width: 768px) {
  .hero::before, .hero::after {
    display: none;
  }
}
.hero::before {
  content: url("../img/CHOCCO/hero/group_6.png");
  position: absolute;
  bottom: -6%;
  right: 15%;
}
.hero::after {
  content: url("../img/CHOCCO/hero/sheet_3.png");
  position: absolute;
  bottom: -6%;
  left: 7%;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
  background: url("../img/CHOCCO/hero/bars.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero-container {
    background: none;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 36.1111111111rem;
}
@media screen and (max-width: 480px) {
  .header-content {
    align-items: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  width: 74%;
}

.logo {
  display: flex;
  margin-right: 2.5555555556rem;
  width: 2.9055555556rem;
  height: 2.1111111111rem;
  content: url("../img/CHOCCO/container-logo/logo.svg");
  align-items: center;
}
@media screen and (max-width: 768px) {
  .logo {
    margin-left: 0;
  }
}

.menu-header {
  display: flex;
  width: 96%;
}
@media screen and (max-width: 768px) {
  .menu-header {
    display: none;
  }
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.menu-link {
  text-decoration: none;
  font-size: 1rem;
}

.contacts-header {
  display: flex;
  justify-content: flex-end;
}

.contacts-phone {
  display: flex;
  align-items: center;
  font-size: 1.3333333333rem;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .contacts-phone_header {
    display: none;
  }
}

.contacts-phone::before {
  content: url("../img/CHOCCO/container-logo/phone.png");
  margin-right: 0.2777777778rem;
}

.burger-span {
  position: absolute;
  display: none;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
@media screen and (max-width: 768px) {
  .burger-span {
    display: flex;
  }
}
.burger-span.burger-span--active {
  opacity: 0.7;
}
.burger-span.burger-span--active .burger-span_top {
  transform: translateY(11px) translateX(0) rotate(405deg);
  border-radius: 5px;
}
.burger-span.burger-span--active .burger-span_middle {
  opacity: 0;
}
.burger-span.burger-span--active .burger-span_bottom {
  transform: translateY(-11px) translateX(0) rotate(-405deg);
  border-radius: 5px;
}
.burger-span_item {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.65s ease;
  cursor: pointer;
}
.burger-span_item:nth-of-type(2) {
  top: 11px;
}
.burger-span_item:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #2e3133;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.overlay--open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
}
.overlay.overlay--open .overlay-menu_item {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay-menu {
  position: absolute;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  text-align: center;
}

.overlay-menu_list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
}

.overlay-menu_item {
  display: block;
  position: relative;
  line-height: 1;
  opacity: 0;
}
.overlay-menu_item:after {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.overlay-menu_item:last-child:after {
  display: none;
}

.overlay-menu_link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.body-active-menu {
  overflow: hidden;
}

.btn-close {
  color: #fff;
  font-size: 24px;
  font-family: Helvetica;
}

.title {
  display: flex;
  align-items: flex-start;
  width: 32%;
  min-height: 16.6666666667rem;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .title {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0;
    justify-content: flex-end;
    background: url("../img/CHOCCO/title/comp_1.png") top 2% center/61% auto no-repeat;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .title {
    justify-content: flex-end;
    background: url("../img/CHOCCO/title/comp_1.png") top 2% center/61% auto no-repeat;
  }
}

.title-text {
  font-size: 2.6666666667rem;
  font-weight: bold;
  line-height: 1.2;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0.2222222222rem;
}
@media screen and (max-width: 480px) {
  .title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.1111111111rem;
  }
}

.subtitle {
  font-size: 1.1666666667rem;
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .subtitle {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .subtitle {
    padding: 0 16%;
  }
}

.btn {
  background: #fff;
  color: #0b4d3c;
  font-size: 1.0555555556rem;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 1.9444444444rem;
  padding: 0.9444444444rem 2.1111111111rem;
}
.btn:hover {
  background: #0b4d3c;
  color: #fff;
  transition: 0.3s;
}
.btn-green {
  background: #0b4d3c;
  border: 1px solid #0b4d3c;
  color: #fff;
}
.btn-green:hover {
  background: #fff;
  color: #0b4d3c;
  transition: 0.3s;
}
.btn-close_app {
  background: #0b4d3c;
  border: 1px solid #0b4d3c;
  color: #fff;
}
.btn-close_app:hover {
  background: #fff;
  color: #0b4d3c;
  transition: 0.3s;
}
.btn-transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn-transparent:hover {
  background: transparent;
  color: #0b4d3c;
}

.bullet-text {
  display: flex;
  width: 44%;
  margin: 0rem 2.1666666667rem 1.2222222222rem 0.3888888889rem;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .bullet-text {
    display: none;
  }
}

.icon-bullet_leaves, .icon-bullet_auto, .icon-bullet_paper {
  width: 7.7777777778rem;
  font-size: 0.9444444444rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-bullet_leaves::before {
  display: flex;
  width: 5.1111111111rem;
  height: 1.8333333333rem;
  align-items: flex-end;
  content: url("../img/CHOCCO/icons/5.svg");
}

.icon-bullet_auto::before {
  display: flex;
  width: 5.3333333333rem;
  height: 1.8333333333rem;
  align-items: flex-end;
  margin-left: 0.6111111111rem;
  content: url("../img/CHOCCO/icons/6.svg");
}

.icon-bullet_paper::before {
  display: flex;
  width: 3.4444444444rem;
  height: 1.8333333333rem;
  align-items: flex-end;
  margin-left: 0.2222222222rem;
  content: url("../img/CHOCCO/icons/4.svg");
}

.icon-bullet_leaves::before, .icon-bullet_auto::before, .icon-bullet_paper::before {
  margin-right: 0.5rem;
}

.section {
  height: 100%;
  min-height: 36.1111111111rem;
}

.section-title {
  color: #292929;
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 480px) {
  .section-title {
    margin-top: 6%;
  }
}

.title_green {
  color: #0b4d3c;
}

.benefits-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: url("../img/CHOCCO/benefits-section/pattern_sheet_1.png") left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 17%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section::before {
  content: url("../img/CHOCCO/benefits-section/raspberry_1.png");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
  z-index: 5;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    content: none;
  }
}

.headline {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .headline {
    height: 97%;
  }
}

.headline-cap {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .headline-cap {
    line-height: 1;
    margin-top: 0;
  }
}

.headline-title {
  color: #292929;
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 480px) {
  .headline-title {
    margin-top: 2%;
    margin-bottom: 0;
  }
}

.headline-subtitle {
  color: #666666;
  padding: 0 26%;
  margin-bottom: 2.3333333333rem;
}
@media screen and (max-width: 768px) {
  .headline-subtitle {
    padding: 0 23%;
  }
}
@media screen and (max-width: 480px) {
  .headline-subtitle {
    padding: 0 5%;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-right: 4%;
}
@media screen and (max-width: 480px) {
  .benefits-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1;
    height: 100%;
  }
}

.benefits-item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits-item {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}
.benefits-item::before {
  content: url("../img/CHOCCO/benefits/combined.png");
  position: absolute;
  top: 2.7777777778rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits-item::before {
    display: none;
  }
}
.benefits-item:first-child {
  padding-left: 0;
}
.benefits-item:last-child {
  padding-right: 0;
}
.benefits-item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    text-align: start;
  }
}

.benefit-wrap {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit-icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit-desc {
  color: #666666;
}
@media screen and (max-width: 480px) {
  .benefit-desc {
    padding: 0 1.3888888889rem 0 1rem;
  }
}

.benefit-title {
  font-size: 1.5555555556rem;
  font-weight: bold;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .benefit-title {
    padding: 0 1rem;
  }
}

.slider-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F8FAF9;
  position: relative;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.slider-btn {
  position: absolute;
  top: 44%;
  transform: translateY(50%);
  width: 27px;
  z-index: 20;
}
.slider-btn_next {
  left: 5%;
}
@media screen and (max-width: 480px) {
  .slider-btn_next {
    left: 5px;
  }
}
.slider-btn_prev {
  right: 5%;
}
@media screen and (max-width: 480px) {
  .slider-btn_prev {
    right: 5px;
  }
}
@media screen and (max-width: 768px) {
  .slider-btn {
    top: 34%;
  }
}
@media screen and (max-width: 480px) {
  .slider-btn {
    top: 21%;
  }
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider-list {
  width: 100%;
  display: flex;
  right: 0;
  position: relative;
}

.slider-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .slider-item {
    width: 100%;
    flex-direction: column;
  }
}

.slider-left {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .slider-left {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .slider-left {
    width: 65%;
  }
}

.slider-img {
  display: flex;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .slider-img {
    align-items: center;
  }
}

.slider-pic {
  display: flex;
  max-width: 100%;
}

.slider-ingredients {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-left: 38px;
}
@media screen and (max-width: 768px) {
  .slider-ingredients {
    display: none;
  }
}

.slider-title {
  font-size: 36px;
  font-weight: bold;
  color: #292929;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .slider-title {
    font-size: 30px;
    text-align: center;
  }
}

.slider_title {
  padding: 0;
  line-height: 42px;
  margin: 26px 40px 34px 36px;
}
@media screen and (max-width: 768px) {
  .slider_title {
    margin: 0;
  }
}

.slider-desc {
  font-size: 18px;
  color: #666666;
  margin: 0 40px 34px 36px;
}
@media screen and (max-width: 768px) {
  .slider-desc {
    text-align: center;
    margin: 0 90px 34px;
  }
}
@media screen and (max-width: 480px) {
  .slider-desc {
    margin: 0 52px 10px;
  }
}

.slider-tag {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 33px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .slider-tag {
    width: initial;
    justify-content: space-evenly;
  }
}

.tag-text {
  color: #666666;
}

.tag-value {
  color: #000000;
}

.slider-row {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .slider-row {
    justify-content: space-evenly;
  }
}

.slider-price {
  margin-left: 44px;
  margin-right: 30px;
}
@media screen and (max-width: 480px) {
  .slider-price {
    margin-right: 0;
  }
}

.composition {
  width: 270px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  color: #000000;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: -2100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.slider-ingredients:hover .composition {
  opacity: 1;
  left: 100%;
}

.composition-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin: 16px 10px 16px 10px;
}

.composition-icon {
  width: 50px;
  height: 50px;
}

.composition-name {
  width: 50%;
}

.composition-amount {
  padding-right: 20px;
}

.team-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.team-section::before {
  content: url("../img/CHOCCO/team/PatternBerry_1.png");
  right: 0;
  top: -21%;
  position: absolute;
  z-index: 5;
}
.team-section::after {
  content: url("../img/CHOCCO/team/berry_1.png");
  left: 3%;
  bottom: -5%;
  position: absolute;
  z-index: 5;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team-list {
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
  }
}

.team-item {
  flex: 1;
  text-align: center;
  margin-right: 20px;
  max-width: 231px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .team-item {
    flex: initial;
    margin-bottom: 35px;
    margin-right: 0;
  }
}

.team-member {
  height: 288px;
  margin-bottom: 20px;
}

.team-desktop .team-content {
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .team-desktop {
    display: none;
  }
}

.team-phone {
  display: none;
}
.team-phone .team-item {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .team-phone {
    display: flex;
  }
}

.team-title {
  color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}

.team-content {
  overflow: hidden;
  transition: height 0.3s;
  height: 0;
}
.team-content_block.team-content_bottom {
  margin-bottom: 20px;
}
.team-content_block .team-content_job {
  color: #000000;
}
.team-content_block .team-content_text {
  color: #666666;
  font-weight: 300;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.products-section {
  background: url("../img/CHOCCO/products/fon_1.png") center center/cover no-repeat;
  position: relative;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
}

.products-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 48px;
  font-weight: bold;
  padding-top: 10%;
  padding-left: 10%;
  background-color: rgba(0, 0, 0, 0.3);
}

.products-link {
  height: 100%;
  display: flex;
  position: relative;
}

.products-item {
  display: flex;
  height: 100%;
}

.products-title {
  display: flex;
  width: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.products-decor {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.products-text {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 25px;
  white-space: nowrap;
  writing-mode: tb-rl;
  transform: rotate(180deg);
}

.products-content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: width 0.7s;
}

.products-container {
  padding: 60px 17px 30px 33px;
}

.products-close {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  background: transparent;
}

.products-content_text {
  display: flex;
  font-style: normal;
  font-size: 16px;
  width: 100%;
  line-height: 1.4;
  position: relative;
}

@media screen and (max-width: 480px) {
  .reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }
}

.reviews-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: url("../img/CHOCCO/reviews/berry_3.png") right 5% top 1% no-repeat;
}
@media screen and (max-width: 480px) {
  .reviews-section {
    background-position: right 1% top 1%;
  }
}
.reviews-section::before {
  content: url("../img/CHOCCO/reviews/pattern_1.png");
  position: absolute;
  bottom: -8.5555555556rem;
  left: 0;
  z-index: 4;
}
@media screen and (max-width: 768px) {
  .reviews-section::before {
    display: none;
  }
}
.reviews-section::after {
  content: url("../img/CHOCCO/reviews/berry_2.png");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .reviews-section::after {
    display: none;
  }
}

.reviews-display {
  background: #F8FAF9 url("../img/CHOCCO/reviews/layer_1.png") right top no-repeat;
  margin-left: 4.6666666667rem;
  margin-right: 4.3333333333rem;
  padding: 2.8333333333rem 4.3333333333rem 1.8888888889rem 2.4444444444rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews-display {
    display: flex;
    margin: 0 0 2.2222222222rem;
    padding: 2.8333333333rem 1.2222222222rem 1.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews-display {
    justify-content: flex-end;
    margin: 0;
    padding: 2.6666666667rem 1.2222222222rem 1.8888888889rem;
  }
}
.reviews-display::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: #ffff;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -3.6111111111rem;
}
@media screen and (max-width: 480px) {
  .reviews-display::before {
    display: none;
  }
}

.reviews-display_list {
  position: relative;
  min-height: 280px;
}

.reviews-display_item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}
.reviews-display_item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews-display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews-display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews-avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews-avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews-avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews-content {
  flex: 1;
  margin-left: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews-content_block1 {
    display: none;
  }
}

.reviews-title {
  color: #292929;
  margin-top: 0.5rem;
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.reviews-text {
  color: #666666;
  line-height: 1.2;
  margin-bottom: 1.4444444444rem;
  padding-right: 20%;
}
@media screen and (max-width: 768px) {
  .reviews-text {
    padding: 0;
  }
}

.reviews-author {
  color: #292929;
  font-size: 1rem;
  font-weight: bold;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
}

.reviews-switcher_item {
  position: relative;
  width: 4.5555555556rem;
  height: 4.5555555556rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.reviews-switcher_item.active {
  border-color: #365A49;
}

.interactive-avatar_link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.interactive-avatar_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F8FAF9;
  position: relative;
}
.player-section::before {
  content: url("../img/CHOCCO/player/blackberry_1.png");
  right: 0;
  bottom: -10%;
  position: absolute;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .player-section::before {
    display: none;
  }
}
.player-section::after {
  content: url("../img/CHOCCO/player/pattern_1.png");
  left: 10%;
  bottom: 20%;
  position: absolute;
  z-index: 5;
}
.player-section .player-container {
  background: url("../img/CHOCCO/player/pattern_2.png") right top 17%/15% auto no-repeat;
}
.player-section .player-container .player-title {
  padding-top: 30px;
  text-align: center;
}
.player-section .player-container .player-section_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.player-section .player-container .player-section_container .player {
  position: relative;
  max-width: 660px;
}
.player-section .player-container .player-section_container .player #player {
  min-width: 660px;
  max-width: 660px;
  min-height: 370px;
}
.player-section .player-container .player-section_container .player .player-pic {
  width: 12%;
  position: absolute;
  left: 307px;
  top: 149px;
  cursor: pointer;
}
.player-section .player-container .player-section_container .player-controls {
  width: 660px;
  height: 35px;
  background-color: #3e3e3e;
  margin-top: -11px;
  display: flex;
}

.player-duration {
  display: flex;
  align-items: center;
}
.player-duration .player-duration_pic {
  width: 10%;
  padding: 5px 20px;
  cursor: pointer;
}
.player-duration .duration-length {
  width: 444px;
  height: 4px;
  border-radius: 1px;
  background-color: #626262;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
}

.duration-length_other {
  width: 69px;
  height: 8px;
  margin-left: 34px;
}

.duration__length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #626262;
  cursor: pointer;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.player-sound {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.player-sound .player-sound_pic {
  cursor: pointer;
}
.player-sound .sound__volume {
  margin-left: 30px;
  margin-top: -5px;
}

.border-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: url("../img/CHOCCO/border/pattern.png") center center/cover no-repeat;
  position: relative;
}
.border-section::before {
  content: url("../img/CHOCCO/border/sheet_3.png");
  right: 3%;
  bottom: 10%;
  position: absolute;
}
.border-section::after {
  content: url("../img/CHOCCO/border/berry_2.png");
  left: 3%;
  bottom: 10%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .border-section::before, .border-section::after {
    display: none;
  }
}

.form {
  display: flex;
  color: #497870;
  margin: 5% 7% 0 7%;
  -webkit-user-select: none;
          user-select: none;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 4.1666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .form {
    margin: 0;
    padding: 0;
  }
}

.form-col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form-col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form-col {
    margin-right: 0;
  }
}

.form-row {
  display: flex;
  margin-bottom: 1rem;
}

.form-block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form-block:last-child {
  margin-right: 0;
}

.form-input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border-radius: 0.2222222222rem;
  border: solid 0.1666666667rem transparent;
}
@media screen and (max-width: 480px) {
  .form-input {
    padding: 0;
  }
}
.form-input_textarea {
  height: 9.8333333333rem;
  resize: none;
}
@media screen and (max-width: 480px) {
  .form-input_textarea {
    height: 4.1666666667rem;
  }
}
.form-input:focus {
  border-color: #DEE2BD;
  border-radius: 0.2222222222rem;
  outline: none;
}

.input-error {
  border-color: red;
}

.form-controls {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.2222222222rem;
}
@media screen and (max-width: 480px) {
  .form-controls {
    padding-bottom: 0.8333333333rem;
  }
}

@media screen and (max-width: 768px) {
  .form-btns {
    display: flex;
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: 0.5555555556rem;
}
.radio_checkbox .radio-visible {
  border-radius: 0;
}
.radio_checkbox .radio-visible::before {
  background: url("../img/CHOCCO/icons/checkmark.svg") center center no-repeat;
}

.radio-elem {
  display: none;
}
.radio-elem:checked ~ .radio-visible::before {
  display: block;
}

.radio-visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
}
.radio-visible::before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-title {
  padding-left: 0.5555555556rem;
  padding-right: 1.2777777778rem;
}

.modal {
  display: none;
}
.modal.error-modal .modal-content {
  color: red;
}
.modal.fancybox-content {
  color: #000000;
  font-weight: 500;
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.error-modal {
  color: red;
}

.modal-container {
  background: #fff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-list .fixed-item {
  margin-bottom: 0.2777777778rem;
  position: relative;
}
.fixed-list .fixed-item::before {
  content: "";
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #ffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixed-list .fixed-item_dark::before {
  content: "";
  background: #0b4d3c;
}
.fixed-list .fixed-item .fixed-link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-list .fixed-item .fixed-link::before {
  content: "";
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixed-list .fixed-item .fixed-link_active {
  border-color: #fff;
}

.map {
  height: 80%;
  width: 100%;
}

.footer-container_content {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .footer-container_content {
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  .footer-container_content {
    flex-direction: column;
  }
}

.container-phone_footer {
  margin: 0 auto;
  width: 1141px;
  display: flex;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #292929;
  padding-top: 20px;
  font-style: normal;
}

.contacts-workhours_footer {
  font-size: 21px;
}

.contacts-phone_footer {
  color: #497870;
  display: flex;
  align-items: center;
  font-size: 1.3333333333rem;
  text-decoration: none;
}
.contacts-phone_footer::before {
  content: url("../img/CHOCCO/container-logo/phone-green.png");
  margin-right: 0.2777777778rem;
}

.socials-list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .socials-list {
    justify-content: center;
  }
}

.socials {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials-item-icon_vk .socials {
  background-image: url("../img/CHOCCO/social/vk.png");
}

.socials-item-icon_f .socials {
  background-image: url("../img/CHOCCO/social/f.png");
}

.socials-item-icon_in .socials {
  background-image: url("../img/CHOCCO/social/in.png");
}

.socials-item-icon_tv .socials {
  background-image: url("../img/CHOCCO/social/tv.png");
}