.benefits-section {
    position: relative;
    background: url(/img/decoration/side-leaf.png) left top 57% no-repeat;

    &:before {
        content: url(/img/decoration/bars-and-berries.png);
        position: absolute;
        bottom: -80px;
        left: 0;
    }
}