.benefits {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 4%;

    @include phones {
        display: flex;
        flex-direction: column;        
        justify-content: space-between;
        height: 100%;
      }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: rem(19px);
    }

    &:before {
        content: url(../img/decoration/separator.png);
        position: absolute;
        top: rem(50px);
        right: 0;
        transform: translate(50%);

        @include phones {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}