.btn {
    font-size: rem(19px);
    font-weight: bold;
    padding: rem(18px) rem(35px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;

    &--theme--white {
        background: #fff;
        color: $darkGreen;

        &:hover {
            color: #fff;
            background: $darkGreen;
            transition: 0.3s;
        }
    }

    &--theme--green {
        background: $darkGreen;
        color: #fff;

        &:hover {
            color: $darkGreen;
            background: #fff;
            transition: 0.3s;
        }
    }

    &--theme--transparent {
        background: transparent;
        color: #000;
        text-transform: none;

        &:hover {
            color: $darkGreen;
            transition: 0.3s;
        }

    }

    &-close_app {
        background: $darkGreen;
        border: 1px solid $darkGreen;
        color: #fff;
    
        &:hover {
          background: #fff;
          color: $darkGreen;
          transition: 0.3s;
          
        }
    }
}