.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: rem(20px);    
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}