.hero {
background: url(/img/decoration/big-leaf.png) right bottom no-repeat;
background-color: #61C4D9;    
height: 100vh;
min-width: 650px;
color: #fff;
position: relative;

&:before {
    position: absolute;
    bottom: -40px;
    left: 2%;
    content: url(/img/decoration/left-leaf.png);
}

&:after {
    position: absolute;
    bottom: -40px;
    right: 0;
    content: url(/img/decoration/berries-and-leaves.png);
}
}

.hero__title-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    page-break-after: 24px 0 45px 0;
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hero__title-description {
    font-size: 21px;
    margin-bottom: 28px;
    padding-right: 20%;
}

