.reviews-section {
    position: relative;
    background: url(../img/CHOCCO/project_svg/Ягода-3-1.png) right 5% top no-repeat;
    
    &:before {
        background: url(../img/decoration/reviews-bottom-decor.png) no-repeat;
        content: url(../img/decoration/strawberry-bottom.png);
        position: absolute;
        bottom: rem(-80px);
        left: 0;
    }

    &:after {
        content: url(../img/decoration/reviews-strawberry.png);
        position: absolute;
        top: 0;
        right: 0;
    }
}